// Colors
$primary: #1f5694;
$secondary: #b81c46;
$white: #fff;
$font-main: #5d5d5d;
$font-shadow-main: (0px 3px 6px rgba(0, 0, 0, 0.16));
$font-shadow-hover: (0px 4px 7px rgba(0, 0, 0, 0.2));
$background-main: #e4e4e4;
$box-shadow-main: (6px 6px 10px 0px rgba(0, 0, 0, 0.16));
$box-shadow-hover: (8px 8px 12px 0px rgba(0, 0, 0, 0.2));
$transition-time: 0.3s;
$transition-type: ease;

// Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=latin-ext');
$font-primary: ('Roboto', sans-serif);
