// Colors
$primary: #1f5694;
$secondary: #b81c46;
$white: #fff;
$font-main: #5d5d5d;
$background-main: #e4e4e4;
$box-shadow-main: (6px 6px 10px 0px rgba(0, 0, 0, 0.16));

// Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=latin-ext');
$font-primary: ('Roboto', sans-serif);
