@import 'variables';
@import 'mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-main;
  font-family: $font-primary;
  color: $font-main;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.bg-code {
  width: 100%;
  margin: 0;
  height: 30vh;
  background-image: url('../images/bg.png');
  filter: blur(1px);
  background-size: cover;
  background-position: center center;
  box-shadow: $box-shadow-main;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);

  @include for-size(lg-up) {
    top: 15%;
  }
}

header.card-wrapper {
  width: 100%;
  box-shadow: $box-shadow-main;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  text-shadow: $font-shadow-main;
  padding: 20px 0;

  @include for-size(lg-up) {
    flex-direction: row;
    padding: 0;
  }

  .resume-card {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @include for-size(lg-up) {
      flex-basis: 50%;
      padding: 40px 0;
    }

    .card__header {
      @include for-size(lg-up) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 20px;
      }

      h1.header__title {
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;

        @include for-size(md-up) {
          font-size: 2.5rem;
        }

        @include for-size(lg-up) {
          font-size: 3rem;
        }
      }

      h2.header__subtitle {
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;

        @include for-size(md-up) {
          font-size: 1.6rem;
        }

        @include for-size(lg-up) {
          font-size: 1.8rem;
          text-align: left;
        }
      }
    }

    ul.card__links {
      list-style: none;

      li.card__item {
        margin: 20px 0;

        a.item__link {
          color: $white;
          text-decoration: none;
          font-size: 1rem;
          font-weight: 400;
          padding: 5px;
          transition: color $transition-time $transition-type;
          outline: none;

          &:hover {
            color: $secondary;
          }

          span {
            margin-right: 6px;
          }
        }
      }
    }

    section.card__social {
      display: flex;
      justify-content: space-evenly;

      a.social__link {
        margin: 0 0.5rem;
        background-color: $secondary;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: $box-shadow-main;
        position: relative;
        outline: none;
        transition: transform $transition-time $transition-type,
          box-shadow $transition-time $transition-type;

        &:hover {
          transform: scale(1.1);
          box-shadow: $box-shadow-hover;
        }

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $white;
          font-size: 1.4rem;
        }
      }
    }
  }

  section.avatar {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto 20px;

    @include for-size(lg-up) {
      flex-basis: 50%;
      clip-path: polygon(15% 0%, 100% 0, 100% 100%, 0% 100%);
      order: 3;
      margin: 0;
    }

    img.avatar__image {
      border-radius: 50%;
      background-position: center center;
      background-size: cover;
      width: 60%;
      height: 60%;

      @include for-size(lg-up) {
        border-radius: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

article.about {
  margin-top: 40px;
  background-color: $white;
  box-shadow: $box-shadow-main;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-size(lg-up) {
    padding: 20px 0;
  }

  header.about__header {
    margin-bottom: 20px;

    h2.header__title {
      font-size: 2rem;
      font-weight: 500;

      @include for-size(lg-up) {
        font-size: 2.6rem;
      }
    }
  }

  p.about__description {
    line-height: 1.5;
    text-align: center;
    padding: 0 10px;
    letter-spacing: 1px;

    @include for-size(lg-up) {
      line-height: 2;
      padding: 0 80px;
    }
  }

  section.about__buttons {
    @include for-size(lg-up) {
      padding: 40px 0 20px;
      display: flex;
    }

    a.buttons__item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 10px 0;
      font-weight: 500;
      background-color: $secondary;
      color: $white;
      text-decoration: none;
      border-radius: 35px;
      padding: 10px 30px;
      box-shadow: $box-shadow-main;
      font-size: 1rem;
      transition: transform $transition-time $transition-type,
        box-shadow $transition-time $transition-type;

      &:hover {
        transform: scale(1.1);
        box-shadow: $box-shadow-hover;
      }

      @include for-size(lg-up) {
        line-height: 2;
        font-size: 1.4rem;
        margin: 0 10px;
        padding: 5px 30px;
      }

      span {
        margin-right: 10px;
        color: $white;
        font-size: 2rem;
      }
    }
  }
}

.two-column-wrapper {
  margin: 40px 0 0;
  display: grid;

  @include for-size(lg-up) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }
}

section.education {
  text-align: center;
  position: relative;

  header.education__header {
    margin-bottom: 80px;

    h2.education__title {
      font-size: 2rem;
      font-weight: 500;

      @include for-size(lg-up) {
        font-size: 2.6rem;
      }
    }

    span.icon {
      display: block;
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-45%);
      width: 50px;
      height: 50px;
      background-color: $primary;
      border-radius: 50%;
      box-shadow: $box-shadow-main;

      span.fas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        font-size: 1.8rem;
      }
    }
  }

  article.education__container {
    background-color: $white;
    box-shadow: $box-shadow-main;
    padding: 40px 10px;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    border-left: 6px solid $secondary;

    &::before {
      content: '';
      display: block;
      position: absolute;
      border: 3px solid $primary;
      top: -45px;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
      z-index: -1;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      border: 3px solid $primary;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      height: 22px;
      z-index: -1;
    }

    header.container__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & > * {
        margin-bottom: 10px;
      }

      h3.header__title {
        font-size: 1.6rem;
        font-weight: 500;
      }

      h3.header__subtitle {
        font-size: 1.2rem;
        font-weight: 400;
      }

      p.header__year {
        color: $secondary;
        font-weight: 500;
      }
    }

    p.container__specialization,
    p.container__description {
      text-align: left;
      line-height: 1.5;
      letter-spacing: 1px;
    }
  }
}

section.experience {
  text-align: center;
  position: relative;

  header.experience__header {
    margin-bottom: 80px;

    h2.experience__title {
      font-size: 2rem;
      font-weight: 500;

      @include for-size(lg-up) {
        font-size: 2.6rem;
      }
    }

    span.icon {
      display: block;
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-44%);
      width: 50px;
      height: 50px;
      background-color: $primary;
      border-radius: 50%;
      box-shadow: $box-shadow-main;

      span.fas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        color: $white;
        font-size: 1.8rem;
      }
    }
  }

  article.experience__container {
    background-color: $white;
    box-shadow: $box-shadow-main;
    padding: 40px 10px;
    position: relative;
    width: 100%;
    margin: 80px 0;
    border-left: 6px solid $secondary;

    &::before {
      content: '';
      display: block;
      position: absolute;
      border: 3px solid $primary;
      top: -45px;
      left: 50%;
      transform: translateX(-50%);
      height: 50px;
      z-index: -1;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      border: 3px solid $primary;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      height: 22px;
      z-index: -1;
    }

    header.container__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & > * {
        margin-bottom: 10px;
      }

      h3.header__title {
        font-size: 1.6rem;
        font-weight: 500;
      }

      h3.header__subtitle {
        font-size: 1.2rem;
        font-weight: 400;
      }

      p.header__year {
        color: $secondary;
        font-weight: 500;
      }
    }

    p.container__specialization,
    p.container__description {
      text-align: left;
      line-height: 1.5;
      letter-spacing: 1px;
    }

    .cursive {
      font-style: italic;
    }
  }
}

section.portfolio {
  margin: 40px 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;

  header.portfolio__header {
    margin-bottom: 20px;

    h2.portfolio__title {
      font-size: 2rem;
      font-weight: 500;

      @include for-size(lg-up) {
        font-size: 2.6rem;
      }
    }
  }

  .portfolio__wrapper {
    width: 100%;
    display: grid;
    grid-row-gap: 40px;
  }

  section.portfolio__container {
    width: 100%;
    background-color: $white;
    box-shadow: $box-shadow-main;
    padding: 20px;
    text-align: left;
    display: grid;

    @include for-size(lg-up) {
      grid-template-columns: 3fr 2fr;
    }

    picture.container__image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;

      & img {
        width: 100%;
        height: 100%;
      }
    }

    article.container__text {
      @include for-size(lg-up) {
        padding-left: 20px;
      }

      h3.header__title {
        margin: 20px 0 10px;
        font-size: 1.8rem;
        font-weight: 500;
      }

      p.text__description {
        text-align: justify;
        line-height: 1.5;
        letter-spacing: 1px;
      }

      ul.text__tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        li.tags__item {
          background-color: $primary;
          color: $white;
          margin: 0 2px 4px;
          padding: 5px 10px;
          list-style: none;
          font-size: 0.8rem;
        }
      }

      section.text__buttons {
        display: flex;
        justify-content: center;

        @include for-size(lg-up) {
          padding: 40px 0 20px;
        }

        a.buttons__item {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          background-color: $secondary;
          color: $white;
          text-decoration: none;
          border-radius: 35px;
          margin: 20px 5px;
          padding: 10px 25px;
          box-shadow: $box-shadow-main;
          font-size: 1rem;
          transition: transform $transition-time $transition-type,
            box-shadow $transition-time $transition-type;

          &:hover {
            transform: scale(1.1);
            box-shadow: $box-shadow-hover;
          }

          span {
            margin-right: 10px;
            color: $white;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

section.contact {
  margin-bottom: 20px;

  h2.contact__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 500;

    @include for-size(lg-up) {
      font-size: 2.6rem;
    }
  }

  .contact__wrapper {
    background-color: $white;
    box-shadow: $box-shadow-main;
  }

  .contact__text-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $primary;
    color: $white;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    h3.text-wrapper__text {
      font-size: 1.4rem;
      text-align: center;
    }

    section.card__social {
      display: flex;
      justify-content: center;
      padding: 20px 0;

      a.social__link {
        margin: 0 0.5rem;
        background-color: $secondary;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: $box-shadow-main;
        position: relative;
        transition: transform $transition-time $transition-type,
          box-shadow $transition-time $transition-type;

        &:hover {
          transform: scale(1.1);
          box-shadow: $box-shadow-hover;
        }

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $white;
          font-size: 1.4rem;
        }
      }
    }
  }

  .form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 300px;

    ul.form__list {
      list-style: none;
      padding: 60px 0;
      width: 80%;
      overflow: hidden;

      li {
        position: relative;
        width: 100;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        input,
        textarea {
          width: 100%;
          height: 100%;
          color: $font-main;
          padding-top: 20px;
          border: none;
          font-size: 1rem;
          outline: none;
        }

        input:focus + label.label-name .content-name,
        input:valid + label.label-name .content-name {
          transform: translateY(-150%);
          font-size: 0.8rem;
          color: $primary;
        }

        input:focus + label.label-name::after,
        input:valid + label.label-name::after {
          transform: translateX(0%);
        }

        textarea:focus + label.label-name::after,
        textarea:valid + label.label-name::after {
          transform: translateX(0%);
        }

        textarea:focus + label.label-name .content-name,
        textarea:valid + label.label-name .content-name {
          transform: translateY(-300%);
          font-size: 0.8rem;
          color: $primary;
        }

        label.label-name {
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
          border-bottom: 1px solid black;
          transition: 0.3s ease;

          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0px;
            bottom: -1px;
            height: 100%;
            width: 100%;
            border-bottom: 3px solid $primary;
            transform: translateX(-150%);
            transition: 0.3s ease;
          }

          .content-name {
            position: absolute;
            bottom: 5px;
            left: 0px;
            transition: all 0.3s ease;
          }
        }

        button.form__button {
          cursor: pointer;
          font-weight: 500;
          background-color: $secondary;
          color: $white;
          border-radius: 35px;
          margin: 10px 0;
          padding: 10px 25px;
          box-shadow: $box-shadow-main;
          font-size: 1rem;
          border: none;
          transition: transform $transition-time $transition-type,
            box-shadow $transition-time $transition-type;

          &:hover {
            transform: scale(1.1);
            box-shadow: $box-shadow-hover;
          }
        }
      }
    }
  }
}

footer.footer {
  text-align: center;
  padding: 20px;
}
